/* Colors from the nord theme */
/* https://nordtheme.com/ */

body {
  background: #2e3440;
  color: #d8dee9;
}
main {
  box-sizing: border-box;
  width: 80vw;
  max-width: 50em;
  background: #3b4252;
  box-shadow: 2px 2px 4px 4px #0005;
  padding: 2em;
}

h1 {
  width: 60%;
  font-variant: small-caps;
  margin: auto;
  text-align: center;
  border-bottom: 4px double #e5e9f0;
}

h2 {
  border-bottom: 1px solid #e5e9f0;
}

img {
  margin: auto;
  display: flex;
}

a:link {
  color: #5e81ac !important;
}

a:visited {
  color: #81a1c1 !important;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

@media print {
  body {
    padding: 0;
    margin: 0;
    background-color: #eceff4;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
    background-color: #eceff4;
    color: #2e3440;
  }
}